<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer class="footer-copyright text-center py-3"
        style="width:100%;background-color:orange;bottom:0;position:fixed;"
        th:fragment="footer">
    <div>
        <strong>
            Copyright &copy; 2022 <a href="" style="color:black">Subhrajeet Pandab</a>
            All rights reserved.
        </strong>
    </div>
</footer>

</body>
</html>